<!-- Contact section -->
<div class="header-contact">
  <h3>Contact me</h3>
  <i class="ti-close close-contact"></i>
</div>
<div class="main-contact">
  <form>
      <input type="text" id="name" name="FullName" placeholder="Name">
      <input type="text" id="email" name="MailFrom" placeholder="Email">
      <textarea id="message" name="MailBody" placeholder="Message"></textarea>
      <!--<input type="button" value="Send" (click)="onSubmit(mailForm)" />-->
      <button type="submit">send</button>
  </form>
</div>
<div class="form-success">
  <i class="ti-check-box"></i>
</div>
<!-- Contact section .end -->