<div class="header-contact">
  <h3>Contact me</h3>
  <i class="ti-close close-contact"></i>
</div>
<div class="main-contact">
  <form (ngSubmit)="onSubmit(contact.form); contact.reset()" #contact="ngForm">
    <input type="text" class="form-control" placeholder="Name" name="senderFullName" [(ngModel)]="contact.senderFullName" #senderFullName="ngModel"
      required>
    <div class="alert alert-danger" *ngIf="senderFullName.invalid">Name required</div>
    <input type="text" class="form-control" placeholder="Email" name="senderMailAdress" [(ngModel)]="contact.senderMailAdress"
      #senderMailAdress="ngModel" required>
    <div class="alert alert-danger" *ngIf="senderMailAdress.invalid">Email required</div>
    <textarea name="MailBody" class="form-control" placeholder="Message" name="mailBody" [(ngModel)]="contact.mailBody" #mailBody="ngModel"
      required></textarea>
    <div class="alert alert-danger" *ngIf="mailBody.invalid">Name required</div>
    <button type="submit" [disabled]="contact.form.invalid">send</button>
  </form>
</div>
<div class="form-success">
  <i class="ti-check-box"></i>
</div>