<!-- Preloader -->
<app-spinner [visible]="siteLoading"></app-spinner>
<!-- Preloader .end -->
<!-- Left sidebar -->
<div class="left-sidebar st-animated fadeInLeftBig animated">
    <div class="logo">
        <!-- <h1>UGUR</h1> -->
    </div>
    <nav id="nav">
        <ul>
            <li class="active">
                <a href="#home">
                    <i class="ti-home"></i>
                </a>
            </li>
            <li>
                <a href="#about">
                    <i class="ti-user"></i>
                </a>
            </li>
            <li>
                <a href="#service">
                    <i class="ti-ruler-pencil"></i>
                </a>
            </li>
            <li>
                <a href="#resume">
                    <i class="ti-agenda"></i>
                </a>
            </li>
            <li class="">
                <a href="#portfolio">
                    <i class="ti-briefcase"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright">
        <p>© {{today | date: "yyyy"}}</p>
    </div>
</div>
<!-- Left sidebar .end -->
<!-- Right sidebar -->
<div class="right-sidebar st-animated fadeInRightBig animated">
    <div class="btn-contact">
        <i class="ti-email"></i>
    </div>
    <div class="social">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/uurde/" target="_blank">
                    <i class="ti-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/uurde" target="_blank">
                    <i class="ti-github"></i>
                </a>
            </li>
            <li>
                <a href="https://500px.com/uurde" target="_blank">
                    <i class="ti-camera"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Right sidebar .end -->
<!-- Mobile top bar (Logo, Menu, Contact button) -->
<div class="mobile-bar">

    <div class="buttons-mobile">
        <ul>
            <li class="btn-menu-mobile">
                <i class="ti-menu"></i>
            </li>
            <li class="btn-contact-mobile">
                <i class="ti-email"></i>
            </li>
        </ul>
    </div>
</div>
<!-- Mobile top bar .end -->
<!-- Home section -->
<div class="wrapper" id="home" style="background-image: url(assets/images/background.jpg);">
    <div id="particles-js"></div>
    <div class="content">
        <span class="st-animated fadeInDown animated">Hello</span>
        <h2 class="st-animated fadeInUp animated">I'm Uğur</h2>
        <p class="st-animated fadeInUpBig animated">developer</p>
    </div>
</div>
<!-- Home section .end -->
<div class="main">

    <!-- About section -->
    <div id="about" class="container">
        <div class="col-md-5 col-sm-12 profile">
            <img src="http://uur-api-dev.azurewebsites.net/{{user.userPhotoPath}}">
        </div>
        <div class="col-md-7 clearfix description">
            <div style="font-size: 20px;">
                <div [innerHTML]="user.description"></div>
            </div>
            <div class="buttons">
                <a target="_blank" href="http://uur-api-dev.azurewebsites.net/{{user.userCvPath}}" class="btn-dwn">Download CV</a>
                <a class="btn-cnt">Contact me</a>
            </div>
        </div>
    </div>
    <!-- About section .end -->
    <!-- Skills section -->
    <div class="service" id="service">
        <div class="container">
        </div>
        <div class="container">
            <div class="col-md-4 col-sm-6 box" *ngFor="let skill of skills">
                <div class="col-md-12">
                    <img src="http://uur-api-dev.azurewebsites.net/{{skill.skillLogoPath}}" width="200px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Skills section .end -->
    <div class="container">
        <!-- Resume section -->
        <div class="resume" id="resume">
            <h2 class="section-title">My resume</h2>
            <div class="timeline">
                <div class="time-box" *ngFor="let resume of resumes">
                    <div class="time-data">
                        <strong>{{resume.company}}</strong>
                        <span>{{resume.startDate | date : "MMM, yyyy"}} - {{resume.endDate ? (resume.endDate | date : "MMM, yyyy")
                            : "Today "}}</span>
                    </div>
                    <div class="time-description">
                        <strong>{{resume.title}}</strong>
                        <div [innerHTML]="resume.resumeDescription"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Resume section .end -->
        <!-- Projects section -->
        <div id="portfolio">
            <h2 class="section-title">Projects</h2>
            <div>
                <div class="filter-select">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter="..Net MVC">.Net MVC</li>
                        <li data-filter="..Net Core">.Net Core</li>
                        <li data-filter=".Angular">Angular</li>
                        <li data-filter=".Remedy">Remedy</li>
                    </ul>
                </div>
                It's coming...
                <!-- <div *ngFor="let project of projects">
                        <div class="grid" style="position: relative; height: 713.344px;">
                            <div class="grid-sizer"></div>
                            <div class="grid-item grid--1 col-md-4">
                                <div class="prt-ov">
                                    <div class="ov">
                                        <div class="ov-box">
                                            <a class="popup" href="#{{project.projectId}}">
                                                <i class="ti-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img src="http://uur-api-dev.azurewebsites.net/{{project.projectImagePath}}" alt="">
                                <div id="{{project.projectId}}" class="zoom-anim-dialog mfp-hide dialog">
                                    <h3>{{project.projectName}}</h3>
                                    <img src="http://uur-api-dev.azurewebsites.net/{{project.projectImagePath}}" alt="">
                                    <div [innerHTML]="project.projectDescription"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            </div>
        </div>
        <!-- Projects section .end -->
    </div>
</div>
<div class="content-contact">
    <div class="header-contact">
        <h3>Contact me</h3>
        <i class="ti-close close-contact"></i>
    </div>
    <div class="main-contact">
        <form (ngSubmit)="onSubmit(contact.form); contact.reset()" #contact="ngForm">
            <input type="text" class="form-control" placeholder="Name" name="senderFullName" [(ngModel)]="contact.senderFullName" #senderFullName="ngModel"
                required>
            <div class="alert alert-danger" *ngIf="senderFullName.invalid">Name required</div>
            <input type="text" class="form-control" placeholder="Email" name="senderMailAdress" [(ngModel)]="contact.senderMailAdress"
                #senderMailAdress="ngModel" required>
            <div class="alert alert-danger" *ngIf="senderMailAdress.invalid">Email required</div>
            <textarea name="MailBody" class="form-control" placeholder="Message" name="mailBody" [(ngModel)]="contact.mailBody" #mailBody="ngModel"
                required></textarea>
            <div class="alert alert-danger" *ngIf="mailBody.invalid">Name required</div>
            <button type="submit" [disabled]="contact.form.invalid">send</button>
        </form>
    </div>
    <div class="form-success">
        <i class="ti-check-box"></i>
    </div>
</div>
<div class="overlay-global"></div>